{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>
        <i class="bi bi-code"></i>
        Il mio pannello sviluppatore
    </h1>
    <div class="row">
        <div class="col">
            <h3>
                <i class="bi bi-controller"></i>
                I miei titoli
            </h3>
        </div>
        <div class="col">
            <a class="btn btn-primary" role="button" href="/thehub/panel/add-game">
                <i class="bi bi-plus"></i>
                Pubblica gioco
            </a>
        </div>
    </div>
    <br>
    <table class="table table-dark" style="color: white;">
        <thead>
            <th>Id</th>
            <th>Titolo</th>
            <th>Pegi</th>
            <th>Data pubblicazione</th>
            <th>Categoria</th>
            <th>Downloads</th>
            <th>Modifica</th>
            <th>Elimina</th>
        </thead>
        <tbody>
            {% for g in games %}
            <tr>
                <td>{{g.id}}</td>
                <td>{{g.title}}</td>
                <td>{{g.pegi}}</td>
                <td>{{g.pub_date}}</td>
                <td>{{g.cathergory}}</td>
                <td>{{g.downloads}}</td>
                <td>
                    <a role="button" class="btn btn-primary" href="/thehub/panel/update/{{g.id}}">
                        <i class="bi bi-pencil"></i>
                        Modifica
                    </a>
                </td>
                <td>
                    <a role="button" class="btn btn-danger" href="/thehub/panel/delete/{{g.id}}">
                        <i class="bi bi-trash"></i>
                        Elimina
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}