{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>
        <i class="bi bi-controller"></i>
        Welcome to The Hub!
    </h1>
    <form action="/thehub">
        <div class="row">
            <div class="col">
                <input type="text" placeholder="Cerca..." class="form-control" name="game">
            </div>
            <div class="col">
                <input type="button" value="Cerca" class="btn btn-dark">
            </div>
        </div>
        <br>
    </form>
    <form action="">
        <div class="row">
            <div class="col">
                <select name="cath" class="form-select">
                    <option value="">Filtra</option>
                    {% for c in cathegories %}
                    <option value="{{c.title}}">{{c.title}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <button class="btn btn-dark" type="submit">
                    <i class="bi bi-search"></i>
                    Filtra
                </button>
            </div>
        </div>
    </form>
    <h1 style="padding-top: 20px;">
        <i class="bi bi-controller"></i>
        I nostri titoli
    </h1>
     <div style="padding-top: 20px;"class="container">
        <div class="myrow">
            {% for g in games %}
                <div class="card" style="width: 18rem; background-color: #111;">
                    <img src="/media/{{g.cover}}">
                    <div class="card-body">
                        <h5 class="card-title">{{g.title}}</h5>
                        <p>
                            {{g.description}}
                        </p>
                        <p>
                            Genere: {{g.cathergory}}
                        </p>
                        <a href="/thehub/developer/{{g.developer}}">
                            By: {{g.developer}}
                        </a>
                        <a role="button" class="btn btn-dark" href="/thehub/game/{{g.id}}">Visualizza</a>
                    </div>
                </div>
            {% endfor %}
        </div>
     </div>
</div>
{% endblock %}