{% extends "base.html"%}

{% block content%}
<div class="container-fluid">
    <h1>
        <i class="bi bi-person"></i>
        Il mio profilo
    </h1>
    <br>
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Nome" value="{{user.first_name}}">
            </div>
            <div class="col">
                <label>Cognome</label>
                <input type="text" class="form-control" placeholder="Cognome" value="{{user.last_name}}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" value="{{user.email}}">
            </div>
            <div class="col">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button style="margin-top: 20px;" class="btn btn-dark">
                    <i class="bi bi-pencil"></i>
                    Modifica
                </button>
            </div>
        </div>
    </form>

    {% if isDev %}
        <a role="button" href="/thehub/panel" style="width: 100%; margin-top: 20%;" class="btn btn-success">
            <i class="bi bi-code"></i>
            Pannello da sviluppatore
        </a>
    {% else %}
        <button style="width: 100%; margin-top: 20%;" class="btn btn-success">
            <i class="bi bi-code"></i>
            Diventa uno sviluppatore
        </button>
    {% endif %}
</div>
{% endblock %}